html {
  background: white;
}

div.header {
  position: relative;
}
div.header h1 {
  position: absolute;
  top: 30%;
  left: 47%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 70px;
  z-index: 1;
  line-height: 1.45;
  width: 75%;
}
div.header p{
  position: absolute;
  top: 60%;
  left: 47%;
  transform: translate(-50%, -50%);
  color:white;
  font-size: 25px;
  z-index: 1;
  width: 75%;
}
div.header p:nth-of-type(2) {
  position: absolute;
  top: calc(60% + 55px);
}

div.header p:nth-of-type(3) {
  position: absolute;
  top: calc(60% + 120px);
}

div.header img{
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  max-height: 900px;
}
  
.drop-cap:first-letter {
  -webkit-initial-letter: 4;
  initial-letter: 4;
  font-weight: bold;
  margin-right: .75em;
}

body {
  font-size: 100%;
  font-family: 'Georgia';
  line-height: 1.5;
  background: white;
  color: black;
}
body h1,
body h2,
body h3,
body h4,
body h5 {
  color: black;
  font-family: 'Georgia';
}
body h1 {
  font-size: 90px;
  line-height: 1.1;
}


body h2 {
  font-size: 40px;
  line-height: 1.3;
}

body h4 {
  font-size: 24px;
  margin-bottom: 0.3em;
}
body p {
  font-size: 20px;
  line-height: 1.5;
}
.container {
  width: 100%;
  padding-top: 130px;
  margin-left: auto;
  margin-right: auto;
  transition: opacity 1s 2s;
}
.container.out {
  opacity: 0;
}
.container > h1,
.container > h2,
.container > p {
  position: relative;
  z-index: 2;
  width: 80%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.fade {
  transition: all 0.6s;
}
.fade.out {
  opacity: 0;
  transform: translateY(20px);
}

blockquote {
  border-left: 4px solid #000;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  height: auto;
  font-size: 22px;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Slideshow */

div.diy-slideshow{
  position: relative;

  display: block;
  overflow: hidden;
  justify-content: center;
  background-color:#f2f2f2;
  width: 800px;
  height: auto;
  margin-left: calc(50% - 400px);
}

figure{
  position: absolute;
  opacity: 0;
  transition: 1s opacity;
  max-width: 500px;
}

figcaption{
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  bottom: 0em;
  right: .35em;
  padding: .25em;
  background: rgba(0,0,0, .25);
  border-radius: 2px;
}
figure.show{
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
.next, .prev{
  color: black;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 1;
  font-size: 40px;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}
.next:hover, .prev:hover{
  cursor: pointer;
  opacity: 1;
}

.next{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
/* Slideshow */

div.wrap-up-container {
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  height: auto;
}

div.image-container {
  float: left;
  margin-right: 40px;
  overflow: hidden;
  position: relative;
}

div.text-container {
  text-align: left;
}

div.caption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  clear: both;
  font-style: italic;
  max-width: 350px;
  text-align: center;
}

div.flow-container {
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  height: auto;
}

div.flow-image-container {
  float: right;
  margin-left: 30px;
  overflow: hidden;
  position: relative;
}

div.flow-caption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  clear: both;
  font-style: italic;
  max-width: 400px;
  text-align: center;
}

a {
  color: black;
}

/*mobile and tablet*/

@media screen and (max-width: 768px) {
  
  div.header h1 {
    position: absolute;
    top: 30%;
    left: 47%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    z-index: 1;
    line-height: 1.45;
    width: 75%;
  }
  div.header p{
    position: absolute;
    top: 60%;
    left: 47%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 15px;
    z-index: 1;
    width: 75%;
  }
  div.header p:nth-of-type(2) {
    position: absolute;
    top: calc(60% + 35px);
  }
  div.header p:nth-of-type(3) {
    position: absolute;
    top: calc(60% + 75px);
  }
  .container > h1,
  .container > h2,
  .container > p {
    position: relative;
    z-index: 2;
    width: 80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
div.wrap-up-container {
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  height: auto;
}
div.image-container {
  float: left;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
}
div.flow-container {
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  height: auto;
}
div.flow-image-container {
  float: right;
  margin-left: 20px;
  overflow: hidden;
  position: relative;
}
}

@media screen and (max-width: 480px) {

  div.header h1 {
    position: absolute;
    top: 30%;
    left: 47%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 28px;
    z-index: 1;
    line-height: 1.45;
    width: 75%;
  }
  div.header p{
    position: absolute;
    top: 60%;
    left: 47%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 15px;
    z-index: 1;
    width: 75%;
  }
  div.header p:nth-of-type(2) {
    position: absolute;
    top: calc(60% + 30px);
  }
  div.header p:nth-of-type(3) {
    position: absolute;
    top: calc(60% + 60px);
  }  
  .container > h1,
  .container > h2,
  .container > p {
    position: relative;
    z-index: 2;
    width: 80%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
div.wrap-up-container {
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  height: auto;
}
div.image-container {
  float: left;
  margin-right: 20px;
  overflow: hidden;
  position: relative;
}
div.flow-container {
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  height: auto;
}
div.flow-image-container {
  float: right;
  margin-left: 20px;
  overflow: hidden;
  position: relative;
}

div.data-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
}